<section admin-header class="content-header" title="Thesis" sub-title="Throw your sand around here!"></section>
<section class="content">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="item in items" ui-sref-active="active">
          <a href="" ui-sref="{{item.sref}}">{{item.name}}</a>
        </li>
      </ul>

       <div class="box box-primary">
			<div class="box-header">
			    <h3 class="box-title">Thesis Tag</h3>
			    <div class="box-tools pull-right">
				    <ul class="nav nav-pills nav-stacked">
				        
							<li ng-repeat="item in tags" ui-sref-active="active">
								<a href="" ui-sref="#">
									Kinh Doanh Marketing
								</a>
							</li>
				      </ul>
			    </div>
			</div>
            <div class="box-body">
            </div>
       </div>

    </div>
    <div class="col-md-10">
      <div ui-view></div>
    </div>
  </div>
</section>
